.grid-container {
    display: grid;
    text-align: center;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

.Header {
    border-style: solid;
    grid-row: 1 / 2;
    grid-column: 1 / 15;
    background-color: rgb(207, 236, 248);
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.Header a {
    font-family: monospace;
    padding: 3px;
    font-size: 22px;
    color: rgb(83, 44, 67);
}

.Main {
    border-style: solid;
    grid-row: 2 / 7;
    grid-column: 1 / 15;
    background-image: linear-gradient();
    background-image: url("bookss.jpg");
    background-size:cover;
    
}

.border {
    border-image: linear-gradient(rgb(27, 111, 255), rgb(77, 0, 128), rgb(254, 173, 220)) 1;
    background-color: rgba(255,255,255,.5);
    border-style: double;
    margin-top: 100px;
    margin-left: 650px;
    width: 300px;
    height: 100px;
    color: rgb(83, 44, 67);
    font-size: 30px;
    font-family: monospace;
    padding: 32px;
    font-weight: bold;

}

.suprise {
    font-size: 15px;
    font-family: monospace;
    color: rgb(255, 255, 255);
    margin-left: 420px;
}

.creative {
    border-radius: 5px;
    border-image: linear-gradient(rgb(246, 72, 72), rgb(249, 166, 22), rgb(255, 236, 144), rgb(70, 255, 135), rgb(0, 119, 255), rgb(168, 29, 255), rgb(255, 167, 205)) 1;
    border-style: dashed;
    font-family: papyrus;
   /* background-image: linear-gradient(rgb(247, 121, 121), rgb(246, 162, 93), rgb(251, 227, 139), rgb(128, 232, 124), rgb(132, 208, 244), rgb(197, 149, 252), rgb(251, 176, 210));*/
    color: rgb(83, 44, 67);
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    width: 520px;
    height: 100px;
    font-size: 30px;
    margin-left: 200px;
    margin-top: 70px;
    display: none;

}

@keyframes example {
    0%   {background-color:rgb(247, 121, 121); left:0px; top:0px;}
    25%  {background-color:rgb(251, 227, 139); left:200px; top:0px;}
    50%  {background-color:rgb(128, 232, 124); left:0px; top: 0px;}
    75%  {background-color:rgb(132, 208, 244); left:200px; top:0px;}
    100% {background-color:rgb(251, 176, 210); left:0px; top:0px;}
}

.creative p {
    text-align: center;
}

.suprise:hover + .creative {
    display: block;
}

.border p {
    font-size: 17px;
    font-family: monospace;
}

.Footer {
    border-style: solid;
    grid-row: 7 / 9;
    grid-column: 1 / 15;
    background-color: rgb(207, 236, 248);
}

.color {
    background-image: linear-gradient(rgb(248, 239, 239), rgb(247, 211, 225));
}

.color1{
    background-image: linear-gradient(rgb(248, 239, 239), rgb(236, 211, 247));
}

.color2{
    background-image: linear-gradient(rgb(248, 239, 239), rgb(211, 229, 247));
}

.border1 {
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.5);
    width: 250px;
    border-image: linear-gradient(rgb(27, 111, 255), rgb(77, 0, 128), rgb(254, 173, 220)) 1;
    /*border-image: linear-gradient(rgb(246, 72, 72), rgb(249, 166, 22), rgb(255, 236, 144), rgb(70, 255, 135), rgb(0, 119, 255), rgb(168, 29, 255), rgb(255, 167, 205)) 1;*/
    height: 430px;
    margin-top: 30px;
    margin-left: 120px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-play-state: running;
    text-align: center;
    color: rgb(83, 44, 67);
}

.border1 p {
    font-family: monospace;
    font-size: 30px;
    color: rgb(83, 44, 67);
    text-align: center;
}


@keyframes stretch {
    0% {
      transform: scale(0.1);
      background-image:linear-gradient((white, rgb(255, 225, 243)));
      border-radius: 100%;
    }
    50% {
        background-image:linear-gradient((white, rgb(255, 225, 243)));
    }
    100% {
      transform: scale(1.0);
      background-image:linear-gradient((white, rgb(255, 225, 243)));
    }
  }

  .borderStudy {
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.5);;
    width: 320px;
    border-image: linear-gradient(rgb(27, 111, 255), rgb(77, 0, 128), rgb(254, 173, 220)) 1;
    height: 120px;
    margin-top: 30px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-between;
}

.bs1 {
    animation-name: bs1;
    position: relative;
    animation-duration: 2.2s; 
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bs2 {
    animation-name: bs2;
    position: relative;
    animation-duration: 2.2s; 
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.borderStudy p {
    font-family: monospace;
    font-size: 25px;
    color: rgb(83, 44, 67);
    text-align: center;
}

@keyframes bs1 {
    0%   {background-color: rgba(255, 255, 255, 0.5); left:0px; top:0px;}
    100% {background-color: rgba(98, 101, 104, 0.5); left: 0px; top: 320px;}
  }

  @keyframes bs2 {
    0%   {background-color: rgba(255, 255, 255, 0.5); left:0px; top:0px;}
    100% {background-color: rgba(158, 161, 164, 0.5); left: 0px; top: 160px;}
  }

  .html { 
    display: flex;
    align-items: end;
    margin-left: 100px;
    margin-top: 30px;
    width: 50px;
    height: 50px;
  }

.html:hover {
    width: 80px;
    height: 80px;
}

.progress{
    display: flex;
    border-style: solid;
    width: 1100px;
    margin-left: 100px;
    position: relative;
    background-image: linear-gradient(90deg,
      #ff8383,
      #ff8383,
      #ffc965,
      #a0ff61,
      #00cb58 );
    /*background-image: linear-gradient(rgb(255, 81, 81), rgb(255, 217, 135), rgb(147, 255, 120), rgb(45, 173, 116));*/
    border-image: linear-gradient(rgb(27, 111, 255), rgb(77, 0, 128), rgb(254, 173, 220)) 1;

}

#CSS{
    width: 1000px;
    background-color: rgba(225, 226, 229, 0.748);
    background-image: linear-gradient(90deg,
      #ff8383,
      #ff8383,
      #ffc965,
      #a0ff61,
      #23df46 );
}

#JS {
    width: 600px;
    background-color: rgba(192, 193, 196, 0.748);
    background-image: linear-gradient(90deg,
      #ff8383,
      #ff8383,
      #ffc965,
      #c2e773);
}

#PHP {
    width: 500px;
    background-color: rgba(162, 163, 165, 0.748);
    background-image: linear-gradient(90deg,
      #ff8383,
      #ff8383,
      #ffc965,
      #d6dd6f);
    
}

#DB {
    width: 300px;
    background-color: rgba(134, 136, 139, 0.748);
    background-image: linear-gradient(90deg,
      #ff8383,
      #ff8383,
      #ffc965);
}

.skills {
    font-size: 50px;
    position: absolute;
    margin-left: 720px;
    color: rgb(255, 255, 255);
    font-family: monospace;
    animation-name: skills;
    animation-duration: 6.0s; 
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes skills {
    0%   {color: #ffffff ; left:0px; top:0px;}
    100% {color: #080045; left: 0px; top: 500px;}
  }

.contact{
    font-size: 50px;
}

.contactinfo{
     border-style: solid;
     border-image: linear-gradient(rgb(27, 111, 255), rgb(77, 0, 128), rgb(254, 173, 220)) 1;
     background-color: rgba(255, 255, 255, 0.416);
     padding: 10px;
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 400px;
     word-wrap: break-word;
     font-size: 30px;
     margin-left: 400px;
}

.img {
    display: flex;
    border-radius: 50%;
    position: absolute;
    margin-left: 300px;
    margin-top: 85px;
}

@media (min-width: 1300px) {
    .border1{
        display: flex;
        margin-left: 160px;
    }
    
    .borderStudy {
         display: flex;
         width: 340px;
    }

    .skills {
        margin-left: 820px;
    }

    .border {
        margin-left: 750px;
    }

    .contactinfo {
        margin-left: 550px;
    }
}

@media screen and (min-width: 1600px) {
    .border1{
        display: flex;
        margin-left: 230px;
    }

    .borderStudy {
        display: flex;
        width: 430px;
   }

   .progress {
    width: 1250px;
   }

   .skills {
    margin-left: 920px;
}

.border {
    margin-left: 880px;
}

.creative {
    width: 500px;
    margin-left: 330px;
}

.contactinfo {
    margin-left: 650px;
}
    
}

@media (min-width: 1900px) {
    .border1{
        display: flex;
        margin-left: 290px;
    }

    .borderStudy {
        display: flex;
        width: 500px;
   }

   .progress {
    width: 1400px;
   }

   .skills {
    margin-left: 1020px;
}

.border {
    margin-left: 970px;
}

.creative {
    width: 700px;
    margin-left: 400px;
}

.contactinfo {
    margin-left: 750px;
}
    
}   