.grid-container {
    display: grid;
    text-align: center;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

.Header {
    border-style: solid;
    grid-row: 1 / 2;
    grid-column: 1 / 15;
    background-color: rgb(207, 236, 248);
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.Header a {
    font-family: monospace;
    padding: 3px;
    font-size: 22px;
    color: rgb(83, 44, 67);
}

.Main {
    border-style: solid;
    grid-row: 2 / 7;
    grid-column: 1 / 15;
    background-image: linear-gradient();
    background-image: url("bookss.jpg");
    background-size:cover;
    
}

.border {
    border-color: rgb(255, 255, 255);
    background-color: rgba(255,255,255,.5);
    border-style: double;
    margin-top: 100px;
    margin-left: 650px;
    width: 300px;
    height: 100px;
    color: rgb(83, 44, 67);
    font-size: 30px;
    font-family: monospace;
    padding: 32px;
    font-weight: bold;

}

.suprise {
    font-size: 15px;
    font-family: monospace;
    color: rgb(255, 255, 255);
    margin-left: 490px;
}

.creative {
    border-radius: 5px;
    border-color: white;
    border-style: dashed;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   /* background-image: linear-gradient(rgb(247, 121, 121), rgb(246, 162, 93), rgb(251, 227, 139), rgb(128, 232, 124), rgb(132, 208, 244), rgb(197, 149, 252), rgb(251, 176, 210));*/
    color: rgb(83, 44, 67);
    background-color: rgb(247, 121, 121);
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    width: 520px;
    height: 100px;
    font-size: 30px;
    margin-left: 200px;
    margin-top: 70px;
    display: none;

}

@keyframes example {
    0%   {background-color:rgb(247, 121, 121); left:0px; top:0px;}
    25%  {background-color:rgb(251, 227, 139); left:200px; top:0px;}
    50%  {background-color:rgb(128, 232, 124); left:0px; top: 0px;}
    75%  {background-color:rgb(132, 208, 244); left:200px; top:0px;}
    100% {background-color:rgb(251, 176, 210); left:0px; top:0px;}
}

.creative p {
    text-align: center;
}

.suprise:hover + .creative {
    display: block;
}

.border p {
    font-size: 17px;
    font-family: monospace;
}

.Footer {
    border-style: solid;
    grid-row: 7 / 9;
    grid-column: 1 / 15;
    background-color: rgb(207, 236, 248);
}

.color {
    background-image: linear-gradient(rgb(248, 239, 239), rgb(247, 211, 225));
}

.color1{
    background-image: linear-gradient(rgb(248, 239, 239), rgb(236, 211, 247));
}

.color2{
    background-image: linear-gradient(rgb(248, 239, 239), rgb(211, 229, 247));
}

.border1 {
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.5);;
    width: 250px;
    border-color: white;
    height: 430px;
    margin-top: 30px;
    margin-left: 100px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-around;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-play-state: running;
    text-align: center;
    color: rgb(83, 44, 67);
}

.border1 p {
    font-family: monospace;
    font-size: 20px;
    color: rgb(83, 44, 67);
}


@keyframes stretch {
    0% {
      transform: scale(0.1);
      background-image:linear-gradient((white, rgb(235, 218, 228)));
      border-radius: 100%;
    }
    50% {
        background-image:linear-gradient((white, rgb(235, 218, 228)));
    }
    100% {
      transform: scale(1.0);
      background-image:linear-gradient((white, rgb(235, 218, 228)));
    }
  }